<head>
    <title>Dungeon Bookshelf</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
    <div class="row-title">Reverse Engineering</div>
    <div class="row">
        <div class="book">
            <img src="/assets/whatmakesitpage.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Enrico Martignetti<br>What Makes It Page?: The Windows 7 (x64) Virtual Memory Manager<br><br><a
                        href="/books/whatmakesitpage.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/reverseforbeginners.gif" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Денис Юричев<br>Reverse Engineering для начинающих<br><br><a
                        href="/books/reverseforbeginners.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/MemoryDumpAnalysisAnthologyVolume1.jpeg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Dmitry Vostokov<br>Memory Dump Analysis Anthology, Vol. 1<br><br><a
                        href="/books/MemoryDumpAnalysisAnthologyVolume1.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/MemoryDumpAnalysisAnthologyVolume2.jpeg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Dmitry Vostokov<br>Memory Dump Analysis Anthology, Vol. 2<br><br><a
                        href="/books/MemoryDumpAnalysisAnthologyVolume2.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/WindowsKernelProgrammingSecondEdition.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Pavel Yosifovich<br>Windows Kernel Programming, Second Edition<br><br><a
                        href="/books/WindowsKernelProgrammingSecondEdition.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/WindowsKernelProgrammingFirstEditionRUS.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Павел Йосифович<br>Работа с ядром Windows 1-ое издание<br><br><a
                        href="/books/WindowsKernelProgrammingFirstEditionRUS.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/Mark_Russinovich_Devid_Solomon_Vnutrennee_ustroystvo_Windows_7_e.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Руссинович М., Соломон Д., Ионеску А., Йосифович П<br>Внутреннее устройство Windows. 7-е изд<br><br><a
                        href="/books/Mark_Russinovich_Devid_Solomon_Vnutrennee_ustroystvo_Windows_7_e.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/WindowsInternalsSixthEditionPart2.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Руссинович М., Соломон Д.<br>Внутреннее устройство Windows. 6-е изд, часть 2<br><br><a
                        href="/books/WindowsInternalsSixthEditionPart2.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/iskusstvodisassembl.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Крис Касперски, Ева Рокко<br>Искусство дизассемблирования<br><br><a
                        href="/books/iskusstvodisassembl.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/Vosstanovlenie_dannykh_Prakticheskoe_rukovodstvo_2_e_izd.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Крис Касперски, Валентин Холмогоров, Ксения Кирилова<br>Восстановление данных. Практическое руководство<br><br><a
                        href="/books/Vosstanovlenie_dannykh_Prakticheskoe_rukovodstvo_2_e_izd.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/Mario_Hewardt_Daniel_Pravat_Advanced.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Mario Hewardt, Daniel Pravat<br>Advanced Windows Debugging<br><br><a
                        href="/books/Mario_Hewardt_Daniel_Pravat_Advanced.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/BIOSDisassemblyNinjutsuUncovered.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Дармаван Салихан<br>BIOS - Дизассемблирование, модификация, программирование<br><br><a
                        href="/books/BIOSDisassemblyNinjutsuUncovered.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/PracticalMalwareAnalysis.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Майкл Сикорски, Эндрю Хониг<br>Вскрытие покажет! Практический анализ вредоносного ПО<br><br><a
                        href="/books/PracticalMalwareAnalysis.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/ModernWindowsExploitDevelopment.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Massimiliano Tomassoli<br>Modern Windows Exploit Development<br><br><a
                        href="/books/ModernWindowsExploitDevelopment.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/undocumentedwindows2000secrets.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Свен Шрайбер<br>Недокументированные возможности Windows 2000<br><br><a
                        href="/books/undocumentedwindows2000secrets.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/RootkitsandBootkitsReversingModernMalwareandNextGenerationThreats.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Алекс Матросов, Евгений Родионов, Сергей Братусь<br>Руткиты и буткиты. Обратная разработка вредоносных программ и угрозы следующего поколения<br><br><a
                        href="/books/RootkitsandBootkitsReversingModernMalwareandNextGenerationThreats.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/RootkitsSubvertingtheWindowsKernel.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Хоглунд, Батлер<br>Руткиты: внедрение в ядро Windows<br><br><a
                        href="/books/RootkitsSubvertingtheWindowsKernel.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/TheRootkitArsenalEscapeandEvasionintheDarkCornersoftheSystem.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Bill Blunden<br>The Rootkit Arsenal: Escape and Evasion: Escape and Evasion in the Dark Corners of the System<br><br><a
                        href="/books/TheRootkitArsenalEscapeandEvasionintheDarkCornersoftheSystem.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/TroubleshootingwiththeWindowsSysinternalsTools.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Mark Russinovich<br>Troubleshooting with the Windows Sysinternals Tools<br><br><a
                        href="/books/TroubleshootingwiththeWindowsSysinternalsTools.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/PracticalBinaryAnalysis.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Dennis Andriesse<br>Practical Binary Analysis: Build Your Own Linux Tools for Binary Instrumentation, Analysis, and Disassembly<br><br><a
                        href="/books/PracticalBinaryAnalysis.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/EngineeringACompiler.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Keith D. Cooper, Linda Torczon<br>Engineering: A Compiler<br><br><a
                        href="/books/EngineeringACompiler.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/CompilersPrinciplesTechniquesandTools.png" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Ахо Альфред В., Ульман Джеффри Д., Лам Моника С., Сети Рави<br>Компиляторы. Принципы, технологии и инструментарий<br><br><a
                        href="/books/CompilersPrinciplesTechniquesandTools.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/llvminfrustrforcompilers.png" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Бруно Кардос Лопес, Рафаэль Аулер<br>LLVM: инфраструктура для разработки компиляторов<br><br><a
                        href="/books/llvminfrustrforcompilers.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/pishemvirusiantivirus.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>П.Л. Хижняк<br>Пишем вирус и антивирус  для совместимых компьютеров<br><br><a
                        href="/books/pishemvirusiantivirus.pdf">Download</a></p>
            </details>
        </div>
        <div class="book">
            <img src="/assets/x86softwarereverseengineeringcrackingandcountermeasures.jpg" alt="Error!">
            <details>
                <summary>Description</summary>
                <p>Stephanie Domas, Christopher Domas<br>x86 Software Reverse-Engineering, Cracking, and Counter-Measures<br><br><a
                        href="/books/x86softwarereverseengineeringcrackingandcountermeasures.pdf">Download</a></p>
            </details>
        </div>
    </div>
    <div class="row-title">Cloud Engineering / DevOps</div>
    <div class="row">
        <div class="book">
            <h3>Lorem Ipsum</h3>
        </div>
    </div>
